# SUNAT CONFIGURATION
SUNAT_RUC=
SUNAT_USERNAME=
SUNAT_PASSWORD=
SUNAT_CERT_PASSWORD=
SUNAT_CERT_BASE64= # Base64 encoded content of your certificate.p12 (optional if using certs/ file)
SUNAT_ENVIRONMENT=beta # 'beta' or 'production'
SUNAT_COMPANY_NAME=
SUNAT_COMPANY_ADDRESS=

# GENERIC CONFIG
PORT=3000
